__pycache__/
.pytest_cache/
emforecaster.egg-info/
.eggs/
emforecaster/hpc/logs/
data/
checkpoint/
**/.neptune
test.py
test.ipynb
emforecaster/data_analysis/figures/

# PM2 (for job scheduling and email notifications)
ecosystem.config.js
notify-completion.js
package-lock.json
package.json
node_modules/

# Temporary files
logs/
old_logs/
figures/
.ropeproject/
# Python virtual environment
venv/
